html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.gm-style-mtc {
  visibility: hidden;
}

#map {
  height: 100%;
}

#menu_parent {
  margin: 0;
  width: 100%;
  max-width: 500px;
  position: fixed;
  z-index: 1000;
}

#menu_container {
  width: 100%;
}

#menu_container > * {
  margin: 10px;
  width: 100%;
}

#dialog_container {
  position: absolute;
  bottom: 0;
  z-index: 1001;
  vertical-align: bottom;
}
